.navbar-brand{
  padding-left: 15px;
  font-family: 'Shadows Into Light Two', fantasy;
}

#navbarSupportedContent{
  padding-left: 10px;
  font-family: 'Shadows Into Light Two', fantasy;
  font-size: 1.125em;
}

body{
  background-image: url("/Img/IMG_0771.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-family: 'Covered By Your Grace', fantasy;
  font-size: 3em;
}